body {
    font-family: 'Work Sans', sans-serif;
    margin: 0px;
}

.header {
    background-image: url('../images/banner/banner1.png');
    height: 80vh;
    text-align: right;
    padding-right: 230px;
    padding-top: 215px;
}

.header-title {
    margin-top: 0px;
    font-size: 65px;
    font-weight: 700;
    color: #151414;
    margin-bottom: 25px;
}

.header-description {
    font-size: 16px;
    color: #444343;
}

.button-contact {
    background-color: #F15B22;
    padding: 20px 25px;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
}

/* Main section */
.main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 140px;

}

.main-image {
    width: 451px;
    height: 898px;
    margin-left: 200px;
    margin-right: 50px;
}

.my-failure {
    margin-right: 270px;
    text-align: left;
}

.my-failure>h2 {
    font-size: 40px;
    font-weight: 700;
    color: #151414;
}

.my-failure>p {
    font-size: 16px;
    color: #444343;
}

.my-failure>ul {
    font-size: 16px;
    color: #444343;
}

.plan-title {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: #151414;
    margin-bottom: 55px;
}

.plans-container {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 230px;
    margin-right: 230px;
}

.plan {
    margin-bottom: 135px;
    width: 270px;
}

.plan>p {
    color: #737272;
}